@typeparam TItem

@if (SelectAll.HasDelegate || ClearAll.HasDelegate)
{
    <div class="checkbox-actions">
        @if (SelectAll.HasDelegate)
        {
            <button class="checkbox-action-button" @onclick="SelectAll">Select All</button>
        }
        @if (ClearAll.HasDelegate)
        {
            <button class="checkbox-action-button" @onclick="ClearAll">Clear All</button>
        }
    </div>
}

<div class="checkbox-list">
    @foreach (var item in Items)
    {
        var key = KeySelector(item);
        var label = LabelSelector(item);
        var isChecked = CheckedSelector(item);

        <label class="checkbox-item">
            <input type="checkbox"
                   checked="@isChecked"
                   @onchange="e => OnCheckboxChanged(key, e.Value)" />
            @label
        </label>
    }
</div>
